extends layout

block content
  div
    h1= title
    p IT Solutions Consultant
    p
      a(href="/services") Services
    p
      a(href="/about") About
    p 
      a(href="mailto:hello@kevinjpark.co.uk") Contact
    p
      a(href="https://www.linkedin.com/in/kevinpark24") LinkedIn