extends layout

block content
  div
    h1= title
    p This site was built in a day using the following technologies:
    ul
        li AWS EC2 + ACM
        li node.js on AMI Linux
        li express.js
        li Jade/Pug